@font-face {
    font-family: 'bree';
    font-weight: 700;
    src: url('fonts/BreeSerif-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/OpenSans-Light.ttf') format('truetype');
}

 /* -------------------------------------------------
   --------------------------------------------------
                          RESETS
   --------------------------------------------------
   -------------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

/* -------------------------------------------------
  --------------------------------------------------
                        HEADER
  --------------------------------------------------
  -------------------------------------------------- */

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.logo-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
}
.logo {
  width: 90px;
}
.logo-text {
  margin-left: 10px;
}
.logo-name {
  font-family: 'bree';
  font-size: 2.6em;
  width: 100%;
  line-height: .8;
  color: #315879;
}
.slogan {
  font-family: 'bree';
  width: 100%;
  font-size: .8em;
  color: rgba(39, 61, 80, 0.73);
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav li {
  font-family: 'opensans';
  margin: 10px;
  padding: 5px;
}

nav li a {
  position: relative;
  color: #395d7e;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

nav li a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
nav li a:hover {
  color: #343045;
}
nav li a:hover::before,
nav li a:focus::before {
  color: rgba(140, 144, 229, 0.58);
  text-shadow: 10px 0 rgba(140, 144, 229, 0.58), -10px 0 rgba(140, 144, 229, 0.58);
}

/*  login  */

.modal-container {
  transition: background 0.3s ease-in;
  position: absolute;
  right: 285px;
  top: 90px;
}
.modal-btn {
  padding-bottom: 2px;
  margin-left: auto;
  border-bottom: 1px solid #000;
  font-family: 'bree';
}
.modal-btn:hover {
  cursor: pointer;
}
.login-btn {
  align-self: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  height: 20px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.46);
}
.modal-content:before {
  position: absolute;
  top: -19px;
  right: 25px;
  width: 0;
  height: 0;
  border-radius: 4px;
  content: '';
  border-bottom: solid 20px #f0f8ff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.modal-content,
.modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
 /* overflow: hidden;*/
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: rgba(226, 226, 226, 0);
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
.modal-close:hover {
  color: #333;
}
.modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446CB3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}
.modal-content-btn:hover {
  color: #fff;
  background: #365690;
}
#modal-toggle {
  display: none;
}
#modal-toggle.active ~ .modal-backdrop, #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
#modal-toggle.active ~ .modal-content, #modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #f0f8ff;
  max-width: 400px;
  width: 300px;
  height: 220px;
  padding: 10px 30px;
  position: absolute; /*ja seit nonem absolute un container uzliek left -10px, paradas horizontal scroll bar*/
  border-radius: 4px;
  z-index: 9999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.31);
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input[type='text'], input[type='password'], .login-btn {
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-family: 'opensans';
  color: #315879;
}
.login-form input[type='text'] {
  background: url(media/user.svg) no-repeat right 10px center #fff;
  background-size: 20px;
  padding-left: 10px;
  margin-top: 0;
}
.login-form input[type='password'] {
  background: url(media/password.svg) no-repeat right 10px center #fff;
  background-size: 20px;
  padding-left: 10px;
}
.login-form .login-btn {
  width: 100%;
  height: 40px;
  background-color: #315879;
  color: #fff;
  font-size: 1.2em;
}
.login-form input::placeholder {
  font-size: 1.1em;
  color: rgba(49, 88, 121, 0.5);
}
.login-form textarea::placeholder {
  color: rgba(49, 88, 121, 0.5);
  font-size: .9em;
}
.login-form textarea::-ms-placeholder {
  color: rgba(49, 88, 121, 0.5);
  font-size: .9em;
}
.login-form input:-ms-input-placeholder {
  font-size: 1.1em;
  color: rgba(49, 88, 121, 0.5);
}

/* --------------------------------------------------
  --------------------------------------------------
                        SAKUMS
  --------------------------------------------------
  -------------------------------------------------- */

/* SLIDER */

.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
}

.slider-wrapper .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
  background: url(media/Slider/slider-1.jpg) no-repeat center;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(155, 255, 251, 0.51);
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
/*
.slider-wrapper .prevNext {
  position: relative;
  top: -50%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
.slider-wrapper .prevNext a:after { 

  lai bultas clickable area butu lielaka 
  
  content:"";
  position: absolute;
  padding: 150px;
  top: -330%;
  left: -300%;
} 
.slide-prev {
  background: url(media/Slider/left.svg) center no-repeat;
}
.slide-next {
  background: url(media/Slider/right.svg) center no-repeat;
}

.slider-wrapper .prevNext>div+div {
  visibility: hidden;
  
  Hide all but first P/N container 
}

.slider-wrapper .prevNext a {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  opacity: .5;
  -webkit-transform: translateY( -50%);
  transform: translateY( -50%);
}

.slider-wrapper .prevNext a:hover {
  opacity: 1;
}

.slider-wrapper .prevNext a+a {
  right: 0px;
}

 NAVIGATION 

.slider-wrapper .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.slider-wrapper .bullets > a {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}

.slider-wrapper .bullets > a+a {
  background: rgba(255,255,255,0.5); 
  
  Dim all but first 
}

.slider-wrapper .bullets > a:hover {
  background: rgba(0,255,255,0.9);
}

 ACTIVE NAVIGATION ANCHOR 
.slider-wrapper >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
#s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
#s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
#s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
#s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }

 PREV/NEXT CONTAINERS VISIBILITY 
.slider-wrapper >s:target ~ .prevNext >* { visibility:  hidden; }
#s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
#s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
#s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
#s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }

 SLIDER ANIMATION POSITIONS 
#s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
#s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
#s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
#s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }
*/

 /*SLIDES*/ 

.slider-wrapper .slider > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}
.slider .slide-content-wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  max-width: 900px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  white-space: normal;
}
.slider div:first-of-type h1 {
  font-family: 'bree';
  font-size: 3.3em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0c3353;
  text-shadow: 0 1px 0px #2f255d;
}
.slider div:first-of-type h3 {
  font-family: 'bree';
  font-size: 1.8em;
  font-style: italic;
  color: #0c3353;
  text-shadow: 0 1px 0px #2f255d;
}
.front-btn {
  height: 70px;
  width: 200px;
  margin: 70px 0 0;
  border: none;
  font-family: 'opensans';
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color: #315879;
  cursor: pointer;
}
.front-btn:hover {
  color: #315879;
  background-color: rgba(255, 255, 255, 0.58);
  border: 2px solid #4a87ba;
  font-weight: 700;
  transition: all .2s ease-in;
}

/* -------------------------------------------------
                    intro panels
  -------------------------------------------------- */

.intro-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto;
  width: 90%;
  max-width: 1200px;
  flex-wrap: wrap;
}
.intro-home h1 {
  width: 100%;
  text-align: center;
  font-family: 'bree';
  font-weight: 700;
  font-size: 1.5em;
  color: #315879;
  margin-bottom: 60px;
}
.intro-home div {
  width: 30%;
}
.intro-home img {
  width: 90px;
  display: block;
  margin: 0 auto 20px;
}
.intro-home p {
  font-family: 'opensans';
  font-size: 1em;
  text-align: justify;
}


/* -------------------------------------------------
                    about author
  -------------------------------------------------- */

.about-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  height: 270px;
}
.about-author-picture {
  max-height: 110%;
  object-fit: contain;
  margin-right: 20px;
}
.about-author-name {
  font-family: 'bree';
  font-weight: 700;
  font-size: 1.5em;
  color: #315879;
  line-height: 2;
}
.about-author-text {
  font-family: 'opensans';
  font-size: 1em;
}

/* -------------------------------------------------
                    get news
-------------------------------------------------- */

.piesakies-home-wrap {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  background-image: 
    /*linear-gradient (
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 1) 100%
    ),*/
    url(media/texture.svg);
  background-size: auto 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.piesakies-home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}
.piesakies-home h1 {
  text-align: center;
  font-family: 'bree';
  font-weight: 700;
  font-size: 1.5em;
  color: #315879;
  margin: 20px 0;
}
.piesakies-home input {
  height: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  outline: none;
  font-family: 'opensans';
  font-size: 1.1em;
  color: rgba(62, 50, 95, 0.78);
  border: 1px solid #b2bbbc;
  border-radius: 4px;
}
.piesakies-home input:focus, .contact-form textarea:focus, .contact-form input:focus {
  border: 2px solid rgba(164, 147, 237, 0.3);
}
.piesakies-home input::placeholder, .contact-form textarea::placeholder, .contact-form input::placeholder {
  box-sizing: border-box;
}
.piesakies-home button {
  height: 50px;
  outline: none;
  background-color: #446CB3;
  color: rgb(255, 255, 255);
  font-family: 'opensans';
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.piesakies-home button:hover {
  background: #365690;
}
/* -------------------------------------------------
                    mus atbalsta
-------------------------------------------------- */

.mus-atbalsta {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90%;
  max-width: 1200px;
}
.mus-atbalsta h1 {
  text-align: center;
  font-family: 'bree';
  font-weight: 700;
  font-size: 1.5em;
  color: #315879;
  margin: 0 0 70px;
}
.mus-atbalsta-icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 80px auto;
  height: 0;
  width: 10%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  border: none;
  border-top: 7px solid #315879;
}
hr:nth-of-type(2){
  margin-bottom: 0;
}
hr:nth-of-type(3){
  margin-top: 0;
}
hr:nth-of-type(4){
  margin-bottom: 40px;
}

/* -------------------------------------------------
  --------------------------------------------------
                      KONTAKTI
  --------------------------------------------------
  -------------------------------------------------- */

.page-name {
  display: block;
  text-align: center;
  font-family: 'bree';
  font-size: 2.4em;
  margin: 30px 0;
  color: #1f486a;
}
.map {
  background: url(media/karte.png) no-repeat bottom;
  height: 500px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.map-contacts {
  width: 350px;
  padding: 10px 20px 20px;
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.88);
  font-family: 'opensans';
  font-weight: 700;
  white-space: nowrap;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
}
.social-icons img:hover {
  animation: spin .5s linear;
}
.social-icons img {
  height: 30px;
  margin-right: 20px;
  /*  vvv At least one of these properties should solve blurring issue. vvv */
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
  filter: blur(0);
  -webkit-filter: blur(0);
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;          
  image-rendering: -o-crisp-edges;            
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: optimize-contrast;         
  -ms-interpolation-mode: nearest-neighbor;
}
@keyframes spin { 
  30% {transform:rotate(10deg);}
  60% {transform:rotate(-10deg);}
  100% {transform:rotate(0deg);} 
}

.form-section {
  background: url(media/texture.svg) repeat;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  margin: 10px auto;
}
.form-field {
  width: 70%;
  max-width: 700px;
  border-radius: 4px;
  background-color: #f0f8ff;
  text-align: center;
  border: 1px solid rgba(168, 168, 227, 0.1);
}
.form-field h2 {
  display: inline-block;
  margin: 30px 0;
  font-family: 'bree';
  font-size: 2em;
  color: #1f486a;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
}
.contact-fprm-input-wrap {
  width: 100%;
}
.contact-form input {
  width: 46.5%; /* this is wrong, but it works */
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgba(178, 187, 188, 0.63);
  border-radius: 4px;
  font-family: 'opensans';
  font-size: 1em;
  color: #315879;
}
.contact-form input:first-of-type {
  margin-right: 3%;
}
.contact-form input:last-of-type {
  margin-left: 3%;
}
.contact-form textarea {
  width: 100%;
  border-radius: 4px;
  height: 150px;
  margin-top: 30px;
  padding: 10px;
  border: none;
  font-family: 'opensans';
  color: #315879;
  border: 1px solid rgba(178, 187, 188, 0.63);
  border-radius: 4px;
}

 /* varbūt jāsamazina placeholder opacity, kad kursors ielikts input un textarea laukos */

.submit-form-btn {
  cursor: pointer;
  background: #446CB3;
  color: #fff;
  width: 100px;
  margin: 30px auto;
  border-radius: 4px;
  border: none;
  font-size: 1.1em;
  font-family: 'opensans';
  height: 40px;
  letter-spacing: 1px;
}

.submit-form-btn:hover {
  background: #365690;
}

/* -------------------------------------------------
  --------------------------------------------------
                      FOOTER
  --------------------------------------------------
  -------------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  width: 90%;
  max-width: 1200px;
}
.footer-left {
  width: 20%;
}
footer .logo {
  width: 60px;
}
footer .logo-name {
  font-size: 2.2em;
}
footer .slogan {
  font-size: .7em
}
.copr {
  display: inline-block;
  font-size: .8em;
  font-family: 'bree';
  margin-top: 15px;
}
footer nav ul {
  flex-direction: column;
}
footer nav ul {
  margin: 20px 0;
}
footer nav li {
  margin: 0 5px 0 0;
  padding: 0;
}
footer nav li a::before {
  content: none;
}
.footer-middle {
  width: 30%;
  white-space: nowrap;
  font-family: 'opensans';
}
.footer-middle ul, .map-contacts ul {
 list-style: none;
}
.footer-middle ul li, .map-contacts > ul li {
  background: url(media/password.svg) no-repeat left center;
  padding-left: 30px;
  margin: 10px 0;
}
.footer-middle ul li:first-child, .map-contacts > ul li:first-child {
  background: url(media/map.svg) no-repeat left center;
}
.footer-middle ul li:nth-child(2), .map-contacts > ul li:nth-child(2) {
  background: url(media/phone.svg) no-repeat left center;
}
.footer-middle ul li:last-child, .map-contacts > ul li:last-child {
  background: url(media/web.svg) no-repeat left center;
}
.footer-right {
  width: 30%;
}
.moto {
  font-family: 'opensans';
  font-size: 1.1em;
  margin-bottom: 10px;
  font-style: italic;
}
footer figcaption {
  float: right;
  margin-top: 10px;
  font-family: 'bree';
  font-style: italic;
}

/* -------------------------------------------------
  --------------------------------------------------
                  MEDIA QUERIES
  --------------------------------------------------
  -------------------------------------------------- */

@media (max-width: 1000px) {
  
  /* HEADER */
  
  header {
    flex-wrap: wrap;
  }
  .logo {
    width: 60px;
  }
  .logo-name {
    font-size: 2.1em;
  }
  .slogan {
    font-size: .7em;
  }
  
  header nav {
    width: 100%;
  }
  header nav ul {
    width: 100%; /* IE */
    width: fit-content;
    margin: 0 auto;
    justify-content: space-between;
  }
  header nav li {
    font-family: 'opensans';
    margin: 10px;
    padding: 5px;
  }
  
  .modal-btn { 
    position: absolute;
    top: 35px;
    right: 0;
  }
  
  /* OTHER */ 
  
  .slider div:first-of-type h1 {
    line-height: 1;
    margin-bottom: 20px;
  }
  .mus-atbalsta-icons {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mus-atbalsta-icons img {
    margin: 20px;
  } 
  
  /* FOOTER */
  
  footer {
    flex-wrap: wrap;
  }
  footer nav {
    width: 100%;
    text-align: center;
  }
  footer nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 500px;
    justify-content: space-between;
    line-height: 2;
  }
  .footer-middle {
    width: 100%;
  }
  .footer-middle ul {
    display: block;
    width: calc(350px - 20vw);
    margin: 0 auto;
  }
  .footer-right {
    display: none;
  }
  .footer-left {
    width: 30%;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .copr {
    display: none;
  }
}

@media (max-width: 700px) {
  .intro-home div {
    width: 80%;
    margin: 0 auto;
  }
  .intro-home div:not(:first-of-type) img {
    margin-top: 40px;
  }
  .about-author {
    flex-direction: column;
    height: auto;
  }
  .about-author h1 {
    text-align: center;
    margin: 20px 0;
  }
  .about-author-picture {
    max-height: 200px;
    margin-right: 0;
  }
}
@media (max-width: 610px) {
  header nav {
    margin-top: 20px;
  }
  header nav ul {
    /* IE */
    width: fit-content;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(49, 88, 121, 0.88);
    border-radius: 4px;
  }
  header nav ul li {
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid rgba(157, 157, 157, 0.5);
  }
  header nav ul li:hover, header nav ul li:active {
    background-color: rgb(49, 88, 121);
  }
  header nav a, header nav a:hover {
    color: #fff;
  }
  nav li a::before {
    display: none;
  }
  .slider .slide-content-wrap {
    width: 90%;
  }
  .slider-wrapper {
    height: auto;
  }
  .slider-wrapper h1 {
    margin-top: 40px;
  }
  .front-btn {
    margin: 40px auto;
  }
  
  .form-field {
    width: 90%;
  }
  .contact-form input {
    width: 100%;
    margin: 0;
  }
  .contact-form input:first-of-type {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .contact-form input:last-of-type {
    margin-left: 0;
  }
  .map-contacts {
    position: absolute;
    width: auto;
    top: 70%;
    right: 0;
  }
}

























